<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>index.html</h1>
<a th:href="@{/hello}" >测试@RequestMapping的位置</a><br/>
<a th:href="@{/abc}" >测试@RequestMapping的value值</a><br/>
<form th:action="@{/hello}"  method="post">
    <input type="submit" value="测试@RequestMapping的method属性">
</form>
<a th:href="@{/test/rest/2}">测试@RequestMapping的value属性中的占位符</a>
<hr>
<form th:action="@{/param/pojo}" method="post">
    用户名<input type="text" name="username"><br>
    密码<input type="text" name="password"><br>
    <input type="submit" value="登录6"><br>
</form>
<hr>
<a th:href="@{/test/mav}">测试通过ModelAndView向请求域共享数据</a><br>
<a th:href="@{/test/model}">测试通过Model向请求域共享数据</a><br>
<a th:href="@{/test/map}">测试通过map向请求域共享数据</a><br>
<a th:href="@{/test/modelMap}">测试通过modelMap向请求域共享数据</a><br>
<a th:href="@{/test/session}">测试通过api向session域共享数据</a><br>
<a th:href="@{/test/application}">测试通过api向application域共享数据</a><br>
<hr>

<a th:href="@{/test/view/thymeleaf}">测试SpringMVC的视图：thymeleaf</a>


</body>
</html>